    #button-block {
      position: absolute;
    }

    #grid rect {
      fill: none;
      stroke: firebrick;
    }
    #grid line {
      stroke: lightgray;
    }

    .nodes .dragging {
      fill-opacity: 0.7;
    }
    .terrapin-connection-point {
      stroke: white;
      stroke-width: 1;
      fill: #CCDBCC;
    }
    
    
    .terrapin-title-pillow {
      cursor: pointer;
      /*B&W*/
      fill: rgb(67, 67, 67);
    }
    .terrapin-title-pillow.active {
      fill: red;
    }
    .terrapin-title-text {
      /*fill: black;*/
      /*B&W*/
      fill: white;
      font-size: 12px;
      cursor: pointer;
    }

    .terrapin-predicate-text {
      fill: black;
      font-size: 12px;
    }
    
    .terrapin-object-pillow {
      /*B&W*/
      fill: gray !important;
      cursor: pointer;
    }
    /*B&W*/
    .sourceNodes {
      fill: gray;
    }
    .terrapin-object-text {
      /*fill: black;*/
      /*B&W*/
      fill: white;
      font-size: 12px;
      cursor: pointer;
    }
    
    .terrapin-body-block {
      fill: #D8E2D8;
      stroke: white;
      stroke-width: 2;
    }
    
    .links {
      stroke-width: 2;
    }
    .links path, .links line{
      /*B&W*/
      stroke: gray;
    }